<div class="p-3">
  <br>
  <br>
  <form #passwordsForm='ngForm'>
      <div class="form-group">
        <label> Current Password</label>
          <input type="password" class="form-control" id="oldPassword" required minlength="4" maxlength="10"
            name="oldPassword" [(ngModel)]="model.oldPassword">
        </div>
        <br>
    <div ngModelGroup="passwords" #passwords="ngModelGroup" appCheckPassword>
      <div class="form-group">
        <label> New Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" required minlength="4" maxlength="10"
          name="passwordA" #passwordA="ngModel" [(ngModel)]="model.newPassword" required
          id="passwordA">
        <div *ngIf="passwordA.invalid && (passwordA.dirty || passwordA.touched)" class="alert alert-danger">
          Password is required! and min 4 max 10 characters.
        </div>
      </div>

      <div class="form-group mt-1">
          <label> Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" required
          minlength="4" maxlength="10" #passwordB="ngModel" name="passwordB" [(ngModel)]="model.confirmPassword"
          required id="passwordB">
      </div>
    </div>
    <div *ngIf="passwordB.invalid && (passwordB.dirty || passwordB.touched)" class="alert alert-danger">
      Password confirming is required!
    </div>
    <div *ngIf="passwords.errors?.passwordCheck && (passwordB.dirty || passwordB.touched)" class="alert alert-danger">
      Passwords do not match.
    </div>
    <br>
    <b>{{infoText}}</b>
    <br>
    <button [disabled]="!passwordsForm.valid" class="btn btn-primary waves-effect waves-light m-r-15" (click)="changePassword()">Change Password</button>
  </form>
  <br>
</div>